<h1> Welcome to the File Uploader!!!</h1>
<p> Are you ready to upload a file??? Well then what are you waiting for? Submit a file already.</p>

{% block content %}
<form action="{% url 'filetest:index' %}" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    {{ form.T1.label_tag }}
    {{ form.T1 }}<br>
    {{ form.T1C.label_tag }}
    {{ form.T1C }}<br>
    {{ form.T2.label_tag }}
    {{ form.T2 }}<br>
    {{ form.FLAIR.label_tag }}
    {{ form.FLAIR }}<br>
    <input type="submit" value="upload">
</form>
{% endblock %}


